.animated-border-container {
  width: 90vw;
  height: 60vh;

  position: relative;

  background-color: black;

  border-radius: 20px;
}

.animated-border {
  $margin: 20px;

  width: calc(100% - ($margin * 2));
  height: calc(100% - ($margin * 2));

  margin: $margin;

  position: absolute;
}

#svg-rect {
  stroke: rgba(255, 255, 255, 0.3);
}
