/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;

  min-height: 100vh;
}

.dot {
  position: absolute;
  top: 0;
  left: 0;
  height: 2 px;
  width: 2 px;

  max-height: 2px;
  max-width: 2px;

  overflow: hidden; 
  opacity: 0;
}
